{% extends "base.html" %}

{% block content %}
<div class="box">

<div class="cell first slim">
<h1 class="post-title">{{ post.title }}</h1>
<div class="meta">
<a href="">{{ post.user.username }}</a>
{% include "time.html" %}
{% include "last_reply.html" %}
</div>
</div>
<div class="cell last">
{{ post.content }}
</div>
</div>

<div class="box">
{% for reply in replies %}
<div class="cell">
{{ reply.content }}
</div>
{% endfor %}
</div>


<form action="" method="post">
    {{ xsrf_form_html() }}
    {% for item in form %}
    {{ item.label() }}
    {{ item() }}
    {% if item.errors %}
    {% for error in item.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
    {% endfor %}
</form>

{% endblock %}

{% block sidebar %}
ss
{% endblock %}
